---
BasedOnStyle: LLVM

# Размер отступа
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Длина строки
ColumnLimit: 100

# Скобки
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false

# Пробелы
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true

# Указатели и ссылки
PointerAlignment: Left
ReferenceAlignment: Left

# Include сортировка
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[^/]*>$'              # Стандартные библиотеки (без слешей)
    Priority: 1
  - Regex: '^<.*>$'                 # Остальные системные заголовки
    Priority: 2
  - Regex: '^".*"'                  # Пользовательские заголовки
    Priority: 3
  - Regex: '.*'                     # Всё остальное
    Priority: 4
SortIncludes: true
SortUsingDeclarations: true

# Пустые строки
MaxEmptyLinesToKeep: 1
EmptyLineBeforeAccessModifier: LogicalBlock
SeparateDefinitionBlocks: Always

# Комментарии
ReflowComments: true

# Аргументы и параметры функций
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true

# Конструкторы и инициализация
PackConstructorInitializers: NextLine
ConstructorInitializerIndentWidth: 4

# Классы
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: true

# Макросы
AlignConsecutiveMacros: false
